<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
	name="viewport">
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Principal</title>
	<link rel="shortcut icon" type="image/png"
	th:href="@{/assets/images/logos/planta.png}" />
	<link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/site.css}" />
<th:block layout:fragment="css"></th:block>
</head>
<body>

	<!--  Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
		data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">

		<!-- Sidebar Start -->
		<aside class="left-sidebar">
			<!-- Sidebar scroll-->
			<div>
				<div
					class="brand-logo d-flex align-items-center justify-content-between">
					<div class="contenedor1">
						<img th:src="@{/assets/images/logos/planta.png}" alt=""
							class="planta">
					</div>
					<div
						class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
						id="sidebarCollapse">
						<i class="ti ti-x fs-6"></i>
					</div>
				</div>
				<!-- Sidebar navigation-->
				<div th:replace="fragments/side-menu :: sideMenu"></div>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>

		<div class="body-wrapper">
			<!--  Header Start -->
			<div th:replace="fragments/top-menu :: topMenu"></div>
			<!--  Header End -->
			<!--  body-wrapper-inner Start -->
			<div class="body-wrapper-inner">
				<div class="container-fluid">
					<div layout:fragment="content"></div>
				</div>
			</div>
			<!--  body-wrapper-inner End -->
		</div>

	</div>


	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<script
		th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/sidebarmenu.js}"></script>
	<script th:src="@{/assets/js/app.min.js}"></script>
	<script th:src="@{/assets/libs/simplebar/dist/simplebar.js}"></script>
<!--	<script th:src="@{/assets/js/dashboard.js}"></script>-->
	<!-- solar icons -->
	<script
		src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

	<!-- Cleave.js para el enmascaramiento de inputs -->
	<script
		src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
	<th:block layout:fragment="js"></th:block>
</body>
</html>