<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cuenta de Cliente</title>
<link rel="shortcut icon" type="image/png"
	th:href="@{/assets/images/logos/planta.png}" />
<link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
</head>

<body>
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
			data-navbarbg="skin6" data-sidebartype="full"
			data-sidebar-position="fixed" data-header-position="fixed">
			<div
				class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
				<div class="d-flex align-items-center justify-content-center w-100">
					<div class="row justify-content-center w-100">
						<div class="col-md-8 col-lg-6 col-xxl-3">
							<div class="card mb-0">
								<div class="card-body">
									<div class="contenedor1">
										<img th:src="@{/assets/images/logos/planta.png}" alt=""
											class="planta"/>
									</div>
									    <div class="container mt-4">
									   		<div class="text-center mt-4">
									        	<h2>Información del Cliente</h2>
									        </div>
									
									        <form th:action="@{/site/actualizarCliente}" th:object="${cliente}" method="post">
									            <input type="hidden" th:field="*{id}" />
									
									            <div class="mb-3">
									                <label>Nombre</label>
									                <input type="text" class="form-control" th:field="*{persona.nombre}" readonly>
									            </div>
									
									            <div class="mb-3">
									                <label>Apellido</label>
									                <input type="text" class="form-control" th:field="*{persona.apellido}" readonly>
									            </div>
									
									            <div class="mb-3">
									                <label>Cédula</label>
									                <input type="text" class="form-control" th:field="*{persona.cedula}" readonly>
									            </div>
									
									            <div class="mb-3">
									                <label>Correo</label>
									                <input type="email" class="form-control" th:field="*{persona.correo}" readonly>
									            </div>
									
									            <div class="mb-3">
									                <label>Celular</label>
									                <input type="text" class="form-control" th:field="*{persona.celular}" readonly>
									            </div>
									
									            <div class="mb-3 form-check">
									                <input type="checkbox" class="form-check-input" th:field="*{entidadSFL}" disabled>
									                <label class="form-check-label">Entidad sin fines de lucro</label>
									            </div>
									            
									           <div class="mb-3 row">
												    <label for="alias" class="col-sm-2 col-form-label">Usuario: </label>
												    <div class="col-auto">
												    	<input type="text" readonly class="form-control-plaintext" id="alias" th:field="*{persona.usuario.alias}">
												  	</div>
												  	 <div class="col-auto">
												    <label for="clave" class="visually-hidden">Password</label>
												    <input type="password" class="form-control" id="clave" placeholder="Password" th:field="*{persona.usuario.clave}">
												  </div>
												  </div>
												 
									
									            <div class="text-center mt-4">
									                <button type="button" id="btnEditar" class="btn btn-warning" onclick="habilitarEdicion()" title="Editar">
    													<iconify-icon icon="mdi:pencil" width="24" height="24"></iconify-icon>
													</button>
									                <button type="submit" id="btnGuardar" class="btn btn-success" disabled>
									                    <iconify-icon icon="mdi:content-save" width="22" height="22"></iconify-icon>
									                </button>
									                <a th:href="@{/site/}" class="btn btn-secondary">Volver</a>
									            </div>
									        </form>
    									</div>
	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<script
		th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<!-- solar icons -->
	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>
