<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="sideMenu">
		<style>
			.collapse.first-level{
				background-color: rgba(200,200,200,.2);
			}
		</style>
		<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
			<ul id="sidebarnav">
				<!-- ---------------------------------- -->
				<!-- Menu Tienda -->
				<!-- ---------------------------------- -->
				<li class="sidebar-item" >
					<a class="sidebar-link justify-content-between has-arrow"
					   href="javascript:void(0)" aria-expanded="false">
						<div class="d-flex align-items-center gap-3">
							<span class="d-flex"> <i class="ti ti-building-store fs-8"></i>
							</span> <span class="hide-menu">Tienda</span>
						</div>
					</a>
					<ul aria-expanded="true" class="collapse first-level">
						<li class="sidebar-item">
							<a class="sidebar-link justify-content-between" th:href="@{/site/shop}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-shopping-cart fs-4"></i>
									</div>
									<span class="hide-menu"> Ver productos</span>
								</div>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link justify-content-between" th:href="@{/site/shop/agricultor}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-plant fs-6"></i>
									</div>
									<span class="hide-menu">Ver agricultores</span>
								</div>
							</a>
						</li>
						<li class="sidebar-item" sec:authorize="hasAuthority('CLIENTE')">
							<a class="sidebar-link justify-content-between" th:href="@{/site/anuncios}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-folder-plus fs-4"></i>
									</div>
									<span class="hide-menu">Anuncios</span>
								</div>
							</a>
						</li>
					</ul>
				</li>
				<!------------------------------------- -->
				<!-- Menu Administración -->
				<!-- ---------------------------------- -->
				<li class="sidebar-item" sec:authorize="hasAuthority('ADMIN')">
					<a class="sidebar-link justify-content-between has-arrow"
					   href="javascript:void(0)" aria-expanded="false">
						<div class="d-flex align-items-center gap-3">
							<span class="d-flex"> <i class="ti ti-user"></i>
							</span> <span class="hide-menu">Reportes</span>
						</div>
					</a>
					<ul aria-expanded="false" class="collapse first-level">
						<li class="sidebar-item">
							<a class="sidebar-link justify-content-between" th:href="@{/admin/reportes}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-circle"></i>
									</div>
									<span class="hide-menu">Reportes</span>
								</div>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link justify-content-between" th:href="@{/admin/reportes-ia}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-circle"></i>
									</div>
									<span class="hide-menu">Reportes IA</span>
								</div>
							</a>
						</li>
					</ul>
				</li>


				<li class="sidebar-item" sec:authorize="isAuthenticated()">
					<a class="sidebar-link justify-content-between has-arrow"
					   href="javascript:void(0)" aria-expanded="false">
						<div class="d-flex align-items-center gap-3">
							<span class="d-flex"> <i class="ti ti-user"></i>
							</span> <span class="hide-menu">Administración</span>
						</div>
					</a>
					<ul aria-expanded="false" class="collapse first-level">
						<li class="sidebar-item" sec:authorize="hasAuthority('CLIENTE')">
							<a class="sidebar-link justify-content-between" th:href="@{/site/perfil}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-user-circle fs-4"></i>
									</div>
									<span class="hide-menu">Perfil</span>
								</div>
							</a>
						</li>
						<li class="sidebar-item" sec:authorize="hasAuthority('AGRICULTOR')" >
							<a class="sidebar-link justify-content-between" th:href="@{/agricultor/agregar-productos}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-circle-plus fs-4"></i>
									</div>
									<span class="hide-menu">Agregar Productos</span>
								</div>
							</a>
						</li>
						<li class="sidebar-item" sec:authorize="hasAuthority('AGRICULTOR')">
							<a class="sidebar-link justify-content-between" th:href="@{/agricultor/ver-productos}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-package fs-4"></i>
									</div>
									<span class="hide-menu">Mis productos</span>
								</div>
							</a>
						</li>
						<li class="sidebar-item" sec:authorize="hasAuthority('AGRICULTOR')">
							<a class="sidebar-link justify-content-between" th:href="@{/agricultor/anuncios}">
								<div class="d-flex align-items-center gap-3">
									<div class="round-16 d-flex align-items-center justify-content-center">
										<i class="ti ti-folder-plus fs-4"></i>
									</div>
									<span class="hide-menu">Anuncios</span>
								</div>
							</a>
						</li>
					</ul>
				</li>
				


			</ul>
		</nav>
	</div>
</body>
</html>
